.redis-container{
    height: 100%;
    width: 100%;
    position: relative;
}

.redis-clip-path{
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 32%);
    background-color: var(--background-color);
}

.redis-image{
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 200px;
    height: auto;
    filter: drop-shadow(5px 5px 10px #222);
}